body {
  background-color: #EEE;
}

#cabecera {
  background-color: #29F;
  text-align: center;
  height: 13ex;
  width: 100%;
  color:#FFF;
  float: left;
}
#cabecera .logo {
  float: left;
	height: 10ex;
	width: 8%;
  margin: 1%;
    margin-bottom:2%;
}
#cabecera h1 {
	text-align: center;
  margin-top: 2%;
  display: block;
  float: left;
	width: 80%;
  height: 100%;
  font-family: cursive;
  font-style: italic;
}

#menu {
  color: #FFF;
  background: #27A;
  float: left;
  display: block;
  height: 1.5em;
  width: 97.5%;
  padding-left: 2%;
  padding-right: 0.5%;
  overflow: hidden;
}
#menu .identificacion {
  width: 50%;
  height: inherit;
  float: left;
  padding-top: 0.2%;
}
#menu .menu-zona a  {
  float: left;
  margin-right: 1%;
  font-style: normal;
  text-decoration-color: #CCC;
  height: 100%;
  padding-top: 0.5%;
}
#menu .menu-zona {
  width: 50%;
  float:right;
  background-color: #27A;
}
.flecha{
  width: 9em;
  float: left;
  background-color: transparent;
  overflow: hidden;
}

select.pistas {
  overflow: hidden;
  float: left;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 1ex;
  width: 8em;
  margin-left:40%;
  font-size: 16px;
  border-radius: 1em;
  background: transparent;
}


.tabla_caracteristicas{
  border: 2px solid #27A;
  overflow: hidden;
  clear: both;
  background-color: #EEF;
}
.tabla_caracteristicas  th {
  border: none;
  overflow: hidden;
  text-align: center;
}
#contenido .tabla_caracteristicas input{
  width:100%;
  border-style:none;
  text-align: center;
}

#contenido .tabla_caracteristicas th.nom_t{
  width:19%;
  text-align: center;
  border: none;
  border-style:none;
}



ul.lista_menu {
  border: none;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1.5em;
  overflow: hidden;
}
ul.lista_menu li {
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  float: left;
  width: 49%;
  height: 100%;
  overflow: hidden;
}
ul.lista_menu li a {
  color: #FFF;
  width: 100%;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
}
ul.lista_menu li:hover, ul.lista_menu a:hover {
  color: #222;
  background-color: #FFF;
}

#contenido {
  border: 2px solid #27A;
  background: #FFF;
  text-align: left;
  width: 97%;
  height: 80%;
  float:left;
  margin: 1em;
}

#principal .apartados:hover {
  color: #222;
  background-color: #9F9;
}
#principal .apartados{
  border: 2px solid #27A;
  background-color: #DFD;
  text-align: left;
  width: 30%;
  height: 30%;
  float:left;
  margin: 1em;
  border-radius: 20em;
  overflow: hidden;
}
#contenido .ident {
  float: left;
  width: 100%;
  margin: 1ex;
}
#contenido .apartados .iconA {
  float: left;
  margin-top: 5%;
  padding-left: 1%;
  width: 6.5em;
  background-color: transparent;
  overflow: hidden;
}
#contenido .apartados .iconA img{
  width:4em;
  height: 6em;
  margin-left:2em;
  background-color: transparent;
  overflow: hidden;
}

#contenido .apartados .descrip-apartado {
  float: left;
  margin: 1em;
  width: 40%;
  background: transparent;
}

#contenido .envios input{
  float: left;
  width: 94%;
  color: #B59;
  margin-bottom: 1ex;
  margin-left: .5em;
}

.tablaReservas{
  border: 2px solid #27A;
  overflow: hidden;
  clear: both;
  background-color: #EEF;
}
.tablaReservas  th {
  border: 2px solid #27A;
  overflow: hidden;
  text-align: center;
}
#contenido .reservas .tablaReservas{
  width:97%;
  margin-left: 1em;
  margin-bottom: 1em;
}
#contenido .tablaReservas input{
  width:100%;
  border-style:none;
    font-size:12pt;
    float:left;
}
#contenido .tablaReservas th.firma{
  width:7%;
}
#contenido .tablaReservas th.hora{
  width:7%;
}
#contenido .tablaReservas th.numero{
  width:7%;
}
#contenido .tablaReservas th.nombre{
  width:35%;
}
#contenido .tablaReservas th.observaciones{
	width: 40%;
}
/*#contenido .tablaReservas .observaciones_div{
	height: 100%;
	width: 100%;
}*/


#contenido .tablaReservas th.observaciones .queja{
	width: 98%;
	height: 78%;
	float: left;
}
#contenido .tablaReservas th.observaciones .queja textarea{
	width: 98%;
	min-height: 100%;
	margin: 0.2em;
}
#contenido .tablaReservas th.observaciones .asunto{
	width: 68%;
	height: 18%;
	margin-left: 0.2em;
	float: left;
	border: 1px solid #84F;
}
#contenido .tablaReservas th.observaciones .accion-queja button{
	width: 100%;
	height: 100%;
}
#contenido .tablaReservas th.observaciones .accion-queja{
	width: 27%;
	height: 20%;
	margin-left: 0.2em;
	margin-right: .5em;
	float: left;
}

/* parte lateral izq*/
#contenido .lateral {
  float:left;
  width:14%;
  margin-right: 1em;
}

#contenido .lateral .bbdd {
  float:left;
  width: 90%;
  overflow: hidden;
  margin-top: 1em;
  margin-left: 1em;
  padding: 1ex;
  border: 2px solid #27A;
}
#contenido .lateral .bbdd .action{
  float:left;
  height: 5em;
  width: 5em;
  overflow: hidden;
}
#contenido .lateral .deportes {
  float:left;
  margin-top: 7ex;
}
ul.deportes {
  border: none;
  list-style: none;
  margin-left: 1em;
  padding: 0;
  width: 90%;
  height: 100%;
  overflow: hidden;
  background-color: #27A;
  margin-right:2em;
}
ul.deportes li {
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
ul.deportes li a {
  border: 1px solid #FFF;
  color: #FFF;
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  text-align: left;
  text-decoration: none;
  overflow: hidden;
  padding-left: 1em;
  font-size: 16pt;
}
ul.deportes li input {
  color: #27A;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  font-size: 16pt;
}
ul.deportes li:hover, ul.deportes a:hover {
  color: #222;
  background-color: #FFF;
}

#contenido .subir {
  float: right;
  width: 80%;
  border: 2px solid #27A;
  margin: 1em;
  background-color: #FFF;
  padding: 1ex;
  text-align: center;
}
#contenido .subir .busqueda {
  width: 90%;
  margin-bottom: 0.5ex;
  /*overflow: hidden;*/
}

#contenido .actividades {
  float: right;
  width: 80%;
  border: 2px solid #27A;
  margin: 1em;
  background-color: #FFF;
  padding: 1ex;
  text-align: center;
}
#contenido .actividades .tareas_anadir, #contenido .actividades .tareas_eliminar {
  float:left;
  width:98%;
  margin-left: 1em;
  overflow: hidden;
}

#contenido .actividades .tareas_anadir * {
  float:left;
  width: 90.2%;
  height: 5ex;
  overflow: auto;
}
.tareas_eliminar *{
  float:left;
  width: 91%;
  height: 6ex;
  overflow: auto;
}

#contenido .actividades .tareas_anadir .anadir, .tareas_eliminar .eliminar{
  float:left;
  width: 2em;
  height: 4ex;
  overflow: auto;
}
#contenido .navegacion {
  float: left;
  width:18%;
}
#contenido .pistas {
  float:left;
  width: 80%;
}
#contenido .contenedor_pistas {
  float: right;
  width: 96%;
  border: 2px solid #27A;
  margin: 1em;
  background-color: #FFF;

}
.pistas_deporte {
  overflow: hidden;
  padding-left: 1em;
  background-color: #FFF;
}
.pistas_deporte h3 {
  display: block;
  float:left;
  width:15%;
}

.pistas_deporte .boton_titulo .eliminar {
  margin-top: 1ex;
  margin-left: 2em;
}
.pistas_deporte .tabla_pistas_deporte {
  float: left;
  clear: both;
  border: 2px solid #27A;
  margin-bottom: 1em;
}
.pistas_deporte  th {
  overflow: hidden;
  text-align: center;
  border: none;
  font-size:12pt;
}
.pistas_deporte .th * {
  text-align: center;
}
.button-observaciones{

}

th.eliminar, th.anadir, th.actualizar {
  border:none;
}
.eliminar {
  font-size: 16pt;
  color: red;
  border-radius: 1em;
  background-color: #BBB;
}
.anadir{
  font-size: 16pt;
  color: green;
  border-radius: 1em;
  background-color: #BBB;
}
.actualizar {
  font-size: 15pt;
  color: blue;
  border-radius: 1em;
  background-color: #BBB;
}

#contenido .informacion * {
  display: block;
  float:left;
  width:20%;
  margin-right: 1em;
  margin-left: 1em;
}

#contenido .informacion .fecha {
  width:25%
}
#contenido .fecha *{
  float: left;
  display: block;
  text-align: left;
}
#contenido .nav_fecha {
  margin-top: 1em;
  margin-left: 3em;
  width: 1.5em;
}


#pie {
  background: #27A;
  text-align: center;
	height: 10%;
  width: 100%;
  clear:both;
  margin-top: 2em;
  color: #CCC;
}
select.tareas {
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  width: 100%;
  background: #FFF;
  text-align: left;
}
tareas_ico {
	width:100%;
	height: 100%;
}
#pie a {
  color: #FA7;
}

.observaciones {
	width: 100%;
	height: 100%;
	position: relative;
}

.observaciones .queja {
	float: left;
	width: 100%;
	height: 80%;
}

.observaciones .asunto {
	float: left;
	width: 75%;
	height: 15%;
}

.observaciones .accion {
	float: left;
	width: 20%;
	height: 15%;
}

.selection-observaciones{
  height: 10%;
  margin-left: 20px;
  width: 97%;
}
.gestion-observaciones{
  width: 25%;
  margin-left: 1em;
  float: left;
}
.bloque-observacion {
  border: 2px solid #37A;
  margin: 1em;
  width: 97%;
  height: 100%;
  float: left;
}
.bloque-observacion .data-bloque-observacion {
  float: left;
  width:75%;
  height: 100%;
}
.bloque-observacion .data-bloque-observacion .d1l_50{
  float: left;
  width:70%;
  height: 50%;
  margin-left: 1em;
  margin-top: 1ex;
}
.bloque-observacion .data-bloque-observacion .d1l_25{
  float: left;
  width:10%;
  height: 50%;
  margin-right: 3em;
  margin-left: 1em;
  margin-top: 1ex;
}
.bloque-observacion .data-bloque-observacion .d2l_100{
  float: left;
  width:98%;
  height: 50%;
  margin: 1em;
}
.bloque-observacion .botones-observacion {
  float: left;
  width:24%;
  height: 100%;
  margin-top: 1ex;
}
.bloque-observacion .botones-observacion button{
  width:97%;
  height:8ex;
  float:left;
  margin: 0 0.5em 0.1em 1em;
}

/* control ventana modal */
.modal-contenido{
  width:300px;
  padding: 10px 20px;
  margin-top: 20%;
	margin-left: 35%;
  float: left;
	background-color: rgba(120,120,250,0.6);
}
.modal{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
	opacity:0;
  pointer-events:none;
	transition: all 1s;
	height:100%;
}
.modal .title{
	background-color: rgba(70,70,150,0.5);
	float: left;
	height: 10%;
	width: 100%;
}
.modal .title h4{
	float: left;
	width: 85%;
	height: 100%;
	display: block;
}
.modal .title a{
	float: right;
	width: 10%;
	height: 100%;
}
.modal .dias-semana{
	width: 100%;
	height: 20%;
	float: left;
}
.modal .dias-semana *{
	width: 14%;
	float: left;
	height: 100%;
	display: block;
}
.modal .fechas {
	width: 100%;
	height: 20%;
	float: left;
}
.modal .fechas div{
	width: 40%;
	float: left;
	margin: 2ex;
	text-align: center;
}
.modal .botones-repeticiones {
	width: 100%;
	height: 20%;
	float: left;
}
.modal .botones-repeticiones *{
	width: 45%;
	float: left;
	margin: 1ex;
}


#miModal_1:target{
  opacity:1;
  pointer-events:auto;
}
#miModal_2:target{
  opacity:1;
  pointer-events:auto;
}
#miModal_3:target{
  opacity:1;
  pointer-events:auto;
}
#miModal_4:target{
  opacity:1;
  pointer-events:auto;
}
#miModal_5:target{
  opacity:1;
  pointer-events:auto;
}
